.Body{
    margin-top: 30px;
    padding: 10px 30px;
    box-shadow: 0px 1px green;
}
.Body h4{
  color: #05386b;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:40px;
}
  .hr{
    width:10%;
    height:5px;
    color:black;
    background-color:black;
    margin:auto;
    margin-top:50px;
    border-radius: 20px;
    border: 1px solid black;
}

.text{
    margin-bottom: 100px;
}
.row-body{
    margin-bottom: 50px;
}
.row-body p{
  color:black;
  font-weight: 500;
  font-size: 1.2rem;
}
.res-grid{
    padding: 20px 20px;
    position:relative;
    overflow: hidden;
}
.sol{
    width:400px;
    height:400px;
}
.text-image{
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:0.5s ease-in-out;
}
.text-image img{
    object-fit: cover;
    object-position: left;
}
.text-image:hover img{
    transform: scale(1.1);
    filter: blur(3px);
}
.text-image:hover .blur{
    left:0%;
}
.t-img{
    position:relative;
    height: 100%;
    width:100%;
    top:50%;
}
.t-img h3{
  color:#05386b;
  font-weight: 800;
}
.blur:hover{
   left: 0%;
}
.blur{
    position: absolute;
    top:0;
    background-color:rgba(233,233,233,0.7);
    height: 100%;
    width:100%;
    left:-200%;
    z-index: 5;
    transition: 0.5s ease-in-out;
}
.contact img{
    height: 100%;
    width:100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
  tr,td{
    text-align: center;
  }
  .button{
    margin-top: 30px;
    margin-bottom: 30px;
    color:black;
    padding:10px 20px;
    background-color: #49c5b6;
    border-radius: 3px;
    border: 1px solid #49c5b6;
    font-weight: 600;
  }
  .button:hover{
    color:#49c5b6;
    background: transparent;
  }
  .form form{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .form h4{
    padding-top: 70px;
    color:#D14836;
  }
  .form-text{
    background-color:whitesmoke;
    border:2px solid black;
    border-radius: 5px;
  }
  .form p{
    color:#D14836;
    font-weight: 600;
  }
@media screen and (max-width:750){
.t-img{
     height: 200px;
    width:300px;
}
}

