.row-f {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .empty {
    display: none;
  }
}
.row-f a {
  text-decoration: none;
}
.footer {
  background-color: black;
  padding: 30px;
}
.logo {
  margin-bottom: 10px;
}
.copy {
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer p {
  color: white;
}
.copy p {
  font-size: 0.8rem;
  color: white;
}
.illu p {
  font-size: smaller;
  color: rgba(120, 120, 120);
}
.illu a {
  color: rgba(120, 120, 120);
}
