.htw {
  margin-top: 60px;
  padding: 10px 30px;
  margin-bottom: 50px;
}
.htw_main img {
  max-width: 80%;
  max-height: 400px;
}
.htw p {
  font-weight: 500;
  font-size: larger;
}
.or {
  color: #05386b;
}
.htw_main img {
  margin-bottom: 20px;
}
.htw_main h4 {
  color: #fca253;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-weight: 600;
}
.down-htw,
.mid_htw {
  text-align: center;
  margin-top: 40px;
  width: 70%;
}
/* @media screen and (min-width: 800px) and (max-width: 1000px) {
  .htw {
    margin-top: 150px;
  }
} */
